
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@100;300;400;500;600&display=swap');
:root{
    --linkColor:#00A1BE;
    --hoverColor:#31314A;
    --navLinkColor:#00A1BE;
}
body{
    background-image:url('./assets/background-stars.svg'),linear-gradient(rgb(0,0,0),rgba(0,0,0));
    color:#fff !important;
    font-family: 'League Spartan', sans-serif;
}

.py-7{
    padding-top:.7rem ;
    padding-bottom:.7rem ;

}

.fs-7{
    font-size: .8rem !important;
}

.Planet{
    border-bottom:.1px solid #79797996 !important;
}
.nav-item:last-child .Planet{
    border-bottom:none !important;  
}
.nav-link{
    color: #fff !important;
    &:hover{
        color:var(--navLinkColor) !important;
    }
}
.nav-link.active{
    color:var(--navLinkColor) !important;
}
.antoFamily,.facts{
    font-family: 'Antonio', sans-serif;
}
.title{
    letter-spacing: 2px;
}
.activeLink{
    .num{
        color:rgba(255, 255, 255, 0.598)
    }
}
nav{
    background-color: transparent;
    border-bottom:.5px solid #393952 !important;
}
.planetMenuBorder{
    border-top:.5px solid #393952 !important;
    border-bottom:.5px solid #393952 !important;
}
.activePlanetLink{
    color:#fff;
    position: relative;
    &::before{
        content:'';
        width:100%;
        border-radius: 5px;
        background-color:var(--linkColor) ;
        position: absolute;
        height: 3px;
        bottom:-1.5rem;
    }
}
.planetOption{
    color:#9898A4;
}
.planetLink{
    cursor: pointer;
    border:.5px solid #393952 !important;
    &:hover{
        
        background-color: var(--hoverColor) !important;
    }
    .num{
        color:#9898A4;
    }
}

.PlanetImageWidth{
    width:60%;
}

#geologyImage{
    width:30%;
    left:35%;
    margin-bottom: 50px;
    bottom:-100px
    // bottom:-25%;
}

.NotFoundLink{
 top:3%;
 left:3%;
 background-color:#D0CCBB !important;
 color:#323039 !important;
 padding:.5rem 1rem;
}

@media screen and (min-width:576px){
    .PlanetImageWidth{
        width:50%;
    }
}
@media screen and (min-width:768px){
    .container-fluid{
        flex-direction: column;
    }
    .Planet{
        border-bottom:none !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        align-self: flex-start;
        width: 100%;
        align-items: flex-start;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        margin: 0 !important;
        width:100%;
    }
    .navbar-expand-lg .navbar-nav .nav-item{
        width: calc(100% / 8) ;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .nav-link{
        color: var(--bs-nav-link-color) !important;
    }

    .PlanetImageWidth{
        width:40%;
    }
    
    #geologyImage{
        width:25%;
        left:37.5%;
        // bottom:-25%;
    }
  
}

@media screen and (min-width:992px){
    .container-fluid{
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        align-self: center;
        width: auto;
        align-items: center;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        margin: 0 0 0 auto !important;
        width:auto;
    }
    .navbar-expand-lg .navbar-nav .nav-item{
        width: auto ;
    }
    .PlanetImageWidth{
        width:60%;
    }


    #geologyImage{
        width:30%;
        left:29%;
        margin-bottom: 0px;
        // bottom:-30%;
    }
   
}

@media screen and (min-width:1200px){
    .PlanetImageWidth{
        width:55%;
    }

    #geologyImage{
        width:28%;
        left:33%;
        // bottom:-30%;
    }
}

@media screen and (min-width:1400px){
  
    #geologyImage{
        width:28%;
        left:30%;
        // bottom:-30%;
    }
}
